{% if page and is_post() and page.translations and page.translations.en %}
<span class="post-meta-item post-translation"><a href="{{ page.translations.en | escape }}" hreflang="en">阅读英文版</a></span>
{% endif %}
