{% if page.translations %}
  {% if page.translations['zh-CN'] %}
    <link rel="alternate" hreflang="zh-CN" href="{{ page.translations['zh-CN'] }}">
    <link rel="alternate" hreflang="x-default" href="{{ page.translations['zh-CN'] }}">
  {% endif %}
  {% if page.translations.en %}
    <link rel="alternate" hreflang="en" href="{{ page.translations.en }}">
  {% endif %}
{% endif %}
{% if page.mathjax %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.css" crossorigin="anonymous">
{% endif %}
